<div>
  <section #one class="left">
    <div class="bg"></div>
    <div class="textWrapperL textWrapper">
      <h1 class="text">hello world</h1>
    </div>
  </section>
  <section #two class="right">
    <div class="bg"></div>
    <div class="textWrapperR textWrapper">
      <h1 class="text">hello world</h1>
    </div>
  </section>
  <section #three class="left">
    <div class="bg"></div>
    <div class="textWrapperL textWrapper">
      <h1 class="text">hello world</h1>
    </div>
  </section>
  <section #four class="right">
    <div class="bg"></div>
    <div class="textWrapperR textWrapper">
      <h1 class="text">hello world</h1>
    </div>
  </section>
  <section #five class="left">
    <div class="bg"></div>
    <div class="textWrapperL textWrapper">
      <h1 class="text">hello world</h1>
    </div>
  </section>
</div>

<div class="nav">
  <div class="pointer my-2 border-bottom" (click)="scroll(one)">ONE</div>
  <div class="pointer my-2 border-bottom" (click)="scroll(two)">TWO</div>
  <div class="pointer my-2 border-bottom" (click)="scroll(three)">THREE</div>
  <div class="pointer my-2 border-bottom" (click)="scroll(four)">FOUR</div>
  <div class="pointer my-2 border-bottom" (click)="scroll(five)">FIVE</div>
</div>
